body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ff5733;
}

button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4500;
}

.output-box {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.result-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ff5733;
}

.result-icons i {
    margin: 0 10px;
}
